.bold-font-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

.regular-font-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.card-header {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1.2px;
}

.card-links {
    font-size: 14px;
    line-height: 20px;
    text-transform: lowercase;
}