.block {
    display: flex;
    align-items: center;
    gap: 18.5%;
    width: 100%;

    img {
        width: 47%;
    }

    .smoller_block {

        img {
            width: 100%;
        }

        .smoller_block__links {
            display: flex;
            justify-content: space-between;

            .smoller_block__link {
                cursor: pointer;
            }

            .smoller_block__link:hover {
                text-decoration-line: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 7px;
            }
        }
    }

    .block__photo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        img {
            width: 100%;
        }

        .block__photo__link {            
            cursor: pointer;
        }
        
        .block__photo__link:hover {
            text-decoration-line: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 7px;
        }
    }
}