.block {
    display: flex;
    align-items: center;
    gap: 18.5%;
    width: 100%;

    img {
        width: 47%;
    }

    .smoller_block {

        img {
            width: 100%;
        }

        .smoller_block__links {
            display: flex;
            justify-content: space-between;
        }
    }
}