.subscription_container {
    padding-top: 115px;

    font-size: 45px;
    line-height: 47px;
    letter-spacing: 0.94px;

    border-bottom: 1px solid black;

    .subscription_link {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 28px;

        cursor: pointer;
    }

    .subscription_link div {
        transition: 1s;
    }

    .subscription_link div:hover {
        transform: scale(1.1);
    }
}