.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
  overflow-x: hidden;

  .galary_container {
    padding: 0px 18px 0px 18px;;
  }
}