@import '../../styles/commonStyles/colors/colors.scss';

.header__navbar {
    display: flex;
    justify-content: center;
    gap: 20px;

    .navbar_logo {
        display: flex;
        align-items: center;
        gap: 2,5px;
    }

    .navbar__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 88%;
        min-height: 60px;

        .navbar__menu__part {
            display: flex;
            gap: 16px;


            .current_lang {
                color: $grey;
            }

            .menu__item {
                font-size: 15px;
                line-height: 23px;
                text-transform: lowercase;

                cursor: pointer;
            }

            .menu__item__lang {
                font-size: 15px;
                line-height: 23px;
                text-transform: lowercase;

                cursor: pointer;
            }

            .menu__item:hover {
                text-decoration-line: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 7px;
            }

        }
    }
}