.block {
    display: flex;
    gap: 6.34%;
    width: 100%;

    .block__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .block__text__header {
            width: 424px;
        }
    }

    img {
        width: 59.47%;
    }
}