.block {
    display: flex;
    gap: 177px;
    width: 100%;

    .block__text {
        position: relative;

        display: flex;
        align-items: center;
        min-width: 33%;

        .block__text__header {
            width: 392px;
        }

        .block__text__link {
            position: absolute;
            bottom: 0;
            left: 0;

            cursor: pointer;
        }

        .block__text__link:hover {
            text-decoration-line: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 7px;
        }
    }
}